.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 0;
}
.navBtn{
  margin: 0 20px;
    text-decoration: none;
    color: white;
}
.active{
  color: yellow;
}
input{
  margin: 0 20px 0 0;
  padding: 9px 3px;
  width: 15%;
}
@media screen and (max-width: 800px) {
  .App-header {
      padding:20px 0;
      }
      .navBtn{
        font-size: 30px;
      }
}
@media screen and (max-width: 450px) {
  .App-header {
      flex-wrap: wrap;
      justify-content: space-around;
      }
      input{
        width: 60%;
        margin: 20px 20px 0;
      }
}