.cardParent{
width: 33%;
}
.cardTitle{
    font-size: 21px
}
@media screen and (max-width: 800px) {
    .cardParent{
        width: auto;
        }
    img{
        width: 400px;
    }
  }
  @media screen and (max-width: 500px) {
    img{
        width: 300px;
    }
  }